@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
  box-sizing: inherit;
}

*:focus {
  @apply outline-none ring-2 ring-pink-500 ring-opacity-50;
}

html {
  height: 100%;
  box-sizing: border-box;
  touch-action: manipulation;
  font-feature-settings: 'case' 1, 'rlig' 1, 'calt' 0;
}

html,
body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Helvetica Neue',
    'Helvetica', sans-serif;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  @apply text-white bg-zinc-800 antialiased;
}

body {
  position: relative;
  min-height: 100%;
  margin: 0;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.height-screen-helper {
  height: calc(100vh - 80px);
}


:root {
  --bg-color-grid: #101010;
  --line-color-1-grid: #303030;
  --line-color-2-grid: #202020;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}



body {
  width: 100%;
  background-color: var(--bg-color-grid);
  background-image: linear-gradient(var(--line-color-1-grid) 1px, transparent 1px), linear-gradient(90deg, var(--line-color-1-grid) 1px, transparent 1px), linear-gradient(var(--line-color-2-grid) 1px, transparent 1px), linear-gradient(90deg, var(--line-color-2-grid) 1px, transparent 1px);
  background-position: -1px -1px, -1px -1px, -1px -1px, -1px -1px;
  background-size: 100px 100px, 100px 100px, 10px 10px, 10px 10px;
}
/*
body {
  background-color: black;
} */


/* .title {
  font-size: 10rem;
  font-weight: 700;
  text-align: center;
  margin: 0;
  padding: 1rem;
  padding-top: 8rem;
} */
